body {
	background-color: whitesmoke;
	color: #9ED2C6;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 18px;
	text-align: justify;
	text-decoration: none;
}

h1, h2 {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
	color: #ccb89f;
	font-weight: 50px;
	letter-spacing: 1.3px;
	font-size: 50px;
}

h2 {
	color : #54BAB9;
	font-size: 35px;
	font-weight: 8px;
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 55;
	font-size: 16px;
	color: #fea14a;
	transition: color 0.4s ease;
}
a:hover {
	color: #7d6d5e;
}









/*Custom design with class*/
.container {
	width: 700px;
	margin: 40px auto;

}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}







.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 40px 30px rgba(0,0, 0, 0.1);
	border-radius: 6px;
	margin: 10px 0px;
	text-align: center;
}
.image-circle {
	border-radius: 90%;
	width: 30%;
	height: 20%;
	background-size: cover;
	transition: transform 0.4s ease-in-out;
	transform: scale(1);
	will-change: transform;

}
.carte:hover .image-circle {
	transform: scale(1.2) ;

}
.btn-blue {
	background-color:#ccb89f ;
	color: whitesmoke;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color:black ;
	color: whitesmoke;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px ;

}
.list-inline i {
	font-size: 50px;
	color: #ccb89f;
	transition: color 0.4s ease;
	transition: transform 0.2s ease-in-out;
	transform: scale(1);
	will-change: transform;
}
.list-inline i:hover {
	font-size: 50px;
	color: black;
	transform: scale(1.2) ;
}

#introduction p{
	margin-bottom: 40px;
	margin-top: 10px;
}


.bloc {
	height: 140vh;
	width: 100%;
}